<% layout("/layouts/boilerplate") %> 
<link rel="stylesheet" href="../public/css/style.css">
<div class="row">
    <div class="alert alert-danger col-6 " role="alert" style="margin-bottom:408px ;margin-top:14px ;" >   
         <h4><%= message %></h4>
    </div>
</div>

